<h1 mat-dialog-title>Crear usuario</h1>
<ng-container>
    <mat-dialog-content>

        <form (ngSubmit)="onSubmit()" [formGroup]="form" fxLayout="column" fxLayoutAlign="start stretch">
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input name="name" matInput formControlName="name" />
                <mat-error>
                    <span *ngIf="form.hasError('required', 'name')">
                        campo requerido
                    </span>

                </mat-error>
            </mat-form-field>
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.gt-sm="12px">
                <mat-form-field fxFlex.gt-sm>
                    <mat-label>
                        Usuario
                    </mat-label>
                    <input name="user" formControlName="user" matInput />
                    <mat-error>
                        <span *ngIf="form.hasError('required', 'user')">
                            requerido
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.gt-sm="12px">
                <mat-form-field fxFlex.gt-sm>
                    <mat-label>
                        Contraseña
                    </mat-label>
                    <input name="password" formControlName="password" matInput type="password" />
                    <mat-error>
                        <span *ngIf="form.hasError('required', 'password')">
                            requerido
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>

            <button hidden #submitButton></button>
        </form>



    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
        <button mat-dialog-close mat-button>
            Cerrar
        </button>
        <button mat-flat-button color="accent" (click)="onSubmit()">
            Crear
        </button>
    </mat-dialog-actions>
</ng-container>