<button mat-button class="menu-button">
    <a mat-list-item routerLink="/office" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>person</mat-icon>
        <span>Sucursal</span>
    </a>
</button>

<button mat-button class="menu-button">
    <a mat-list-item routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>person</mat-icon>
        <span>Usuarios</span>
    </a>
</button>
<button mat-button class="menu-button">
    <a mat-list-item routerLink="/product" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>person</mat-icon>
        <span>Productos</span>
    </a>
</button>

<router-outlet></router-outlet>
